.reveal {
    font-size: 2em;
}

.reveal, .reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: Oxygen,Arial;
    letter-spacing: 0;
}

.reveal pre {
    font-size: 1.2em;
}

.reveal .logo {
    margin: 0 -100% 20px;
    padding: 20px 102%;
	background-color: #fff;
}

.reveal .logo img {
    background: none;
    border: none;
    box-shadow: none;
}